import cv2
import PIL
import serial
import numpy as np
from time import sleep
x = 0
y = 0
arduino_port = 'com6'  # connect the arduino to port 6 on your computer                   
baudrate = 9600                            
ardu = serial.Serial(arduino_port, baudrate, timeout = 0.1)

a = -1
b = -1
u = []
cap = cv2.VideoCapture(0) # capture video
while True:
    data = ardu.readline()[:-2] #the last bit gets rid of the new-line chars
    if data == b'7':
        
    
        _, frame = cap.read()
    
    
        hsv = cv2.cvtColor(frame, cv2.COLOR_BGR2HSV)
        
        #defines a red object
        
        lp = np.array([150,150,50])
        up = np.array([180,255,150])
        
        mask = cv2.inRange(hsv, lp, up)
        res = cv2.bitwise_and(frame, frame, mask = mask)
        #showing frames
        cv2.imshow('frame', frame)
        cv2.imshow('mask', mask)
        cv2.imshow('result', res)
    
    
    
        indices = np.where(mask == [255])
        z = len(indices[0])
    
        # if enough red pixles
        if z>5000:
                
        
        
           
        
            for i in indices[1]:
                x = x + i
            for t in indices[0]:
                y = y + t
            x = x/z
            x = round(x)
            y = y/z
            y = round(y)
            z = 0
            print(x,y)
            # finding where the pixle is on the screen to know wich direction to move
            if x < 220:
                ardu.write(b'0')
                print("right")
                sleep(1)
            
            elif x >=220:
                ardu.write(b'1')
                print("left")
                sleep(1)
            else:
                ardu.write(b'2')
                print("middle")
                ardu.write(b'1')
                
            sleep(5)
        
        
    
    
    
    k = cv2.waitKey(5)
    
    
cv2.destroyAllWindows()
cap.release()

